/* removing default browser styling to keep everything consistent */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* base CSS adding consistent styling for nav, lists, fonts etc */

body {
    font-family: 'Prompt';
    color: black;
    line-height: 1.5;
    text-align: center;
    background-color: #C2DDE6;
}

ul {
    list-style-type: none;
}

h2 {
    padding: 5%;
}

nav a {
    text-decoration: none;
    color: black;
}

/* add a little spacing between paragraphs and headers/elements */
p {
    margin: 10px;
}

/*styling navigation bar, aligning horiztontally, adding purple background and keeping space between nav links consistent */
.navigation {
    display: flex;
    justify-content: space-around;
    background-color: #431C5D;
    padding: 30px;
}

nav ul a {
    color: white;
    padding: 10px;
    margin: 0 5px;
}

.nav-boxes {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: auto;
}

/* centering headers ontop of background img */
.topofthepage {
    height: 800px;
    color: white;
    background-image: url(../images/webimage-page1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Adding hover for headings */
.topofthepage h1:hover {
    -webkit-transform: rotateZ(-10deg);
    -ms-transform: rotateZ(-10deg);
    transform: rotateZ(-10deg);
}

.topofthepage h3:hover {
    -webkit-transform: rotateZ(-10deg);
    -ms-transform: rotateZ(-10deg);
    transform: rotateZ(-10deg);
}

.topofthepage h1 {
    font-size: 6rem;
    text-transform: uppercase;
    letter-spacing: 10px;
}

/* Reducing text size for mobile */
@media only screen and (max-width: 765px) {
    .topofthepage h1 {
        font-size: 3rem;
        text-transform: uppercase;
        letter-spacing: 10px;
    }
}

.center-text {
    text-align: center;
}

/* creating grid for portfolio */

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 300px 300px;
    grid-gap: 1rem;

}

.gallery-item {
    width: 100%;
    height: 100%;
    position: relative;
}

.gallery-item .image {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/* styling images in the grid box, trying to keep images responsive and easily recongisable across sizes. Not sure how to resize image within the div.*/
.gallery-item .image img {
    width: 85%;
    height: 85%;
    object-fit: cover;
    object-position: 50% 50%;
    transition: 1s ease-in-out;
    padding-top: 5%;
    padding-bottom: 5%;
}

/* adding zoom in effect for hover on imgs */
.gallery-item:hover .image img {
    transform: scale(1.25);
}

/* Giving space between sections with padding-top. testimonials section. Will try to complete 3 columns for desktop and tablet, and switch to vertical for mobile */
.testimonial-section {
    padding-top: 5%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: #E6E9F0;
    padding: 5%;
}

.column1 img {
    width: auto;
    height: 30%;
    padding: 5px;
}

.column2 img {
    width: auto;
    height: 30%;
    padding: 5px;
}

.column3 img {
    width: auto;
    height: 30%;
    padding: 5px;
}

.bck-colour {
    padding: 5%;
    background-color: #E6E9F0;
}

/* adding some space to contact us section */
.form {
    padding: 10%;
}

.form .submit {
    border-radius: 15px;
    padding: 10px;
    width: 45%;
    color: white;
    background-color: #431C5D;
}

.contact-section h2 {
    padding: 10px;
}

/* make button shade a bit lighter on hover */
.form .submit:hover {
    background-color: #7d4f9c;
}

/*trying to make testimonials responsive by alligning vertically after a certain size */
@media only screen and (max-width: 765px) {
    .testimonial-section {
        padding-top: 5%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
        background-color: #E6E9F0;
    }
}

/* blog grid section with button hover*/
.blog-section {
    background-color: #E6E9F0;
    display: flex;
}

.blog-section img {
    height: 600px;
    width: auto;
}

.text-section {
    align-self: center;
    width: 100%;
    padding: 5%;
}

.right-img {
    padding: 5%;
}

.btn-1 {
    border-radius: 15px;
    padding: 10px;
    width: 45%;
    color: white;
    background-color: #431C5D;
}

.btn-1:hover {
    background-color: #7d4f9c;
}

.topoftheaboutpage {
    height: 800px;
    color: white;
    background-image: url(../images/webimage-page2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Reducing text size for mobile ABOUT PAGE*/
@media only screen and (max-width: 765px) {
    .topoftheaboutpage h1 {
        font-size: 3rem;
        text-transform: uppercase;
        letter-spacing: 10px;
    }
}

/* Keeping heading sizing the same across pages ABOUT PAGE*/
.topoftheaboutpage h1 {
    font-size: 6rem;
    text-transform: uppercase;
    letter-spacing: 10px;
}

/* Adding hover for headings ABOUT PAGE*/
.topoftheaboutpage h1:hover {
    -webkit-transform: rotateZ(-10deg);
    -ms-transform: rotateZ(-10deg);
    transform: rotateZ(-10deg);
}

.topoftheaboutpage h3:hover {
    -webkit-transform: rotateZ(-10deg);
    -ms-transform: rotateZ(-10deg);
    transform: rotateZ(-10deg);
}

.topoftheblogpage {
    height: 800px;
    color: white;
    background-image: url(../images/DJI_0260.JPG);
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Reducing text size for mobile BLOG PAGE */
@media only screen and (max-width: 765px) {
    .topoftheblogpage h1 {
        font-size: 3rem;
        text-transform: uppercase;
        letter-spacing: 10px;
    }
}

/* Keeping heading sizing the same across pages BLOG PAGE*/
.topoftheblogpage h1 {
    font-size: 6rem;
    text-transform: uppercase;
    letter-spacing: 10px;
}

/* Adding hover for headings BLOG PAGE*/
.topoftheblogpage h1:hover {
    -webkit-transform: rotateZ(-10deg);
    -ms-transform: rotateZ(-10deg);
    transform: rotateZ(-10deg);
}

.topoftheblogpage h3:hover {
    -webkit-transform: rotateZ(-10deg);
    -ms-transform: rotateZ(-10deg);
    transform: rotateZ(-10deg);
}

.aboutustop {
    padding: 20%;
}

/* making comedy photo responsive */
.comedy-pic {
    padding: 5%;
    height: auto;
    width: 80%;
    align-items: center;
}

/* rafting section on about us page flex section with button hover*/
.rafting-section {
    background-color: #E6E9F0;
    display: flex;
    padding: 5%;
    align-content: center;
}

.rafting-section img {
    height: 300px;
    width: auto;
}

.text-section {
    align-self: center;
    width: 100%;
    padding: 5%;
}

.right-img {
    padding: 5%;
}

.rafting-btn-1 {
    text-decoration: none;
    border-radius: 15px;
    padding: 10px;
    width: 45%;
    color: white;
    background-color: #431C5D;
}

.rafting-btn-1:hover {
    background-color: #7d4f9c;
}

/* comedy double column layout, trying to get horizontal center to align but not working */
.comedy-section {
    height: auto;
    display: flex;
    flex-direction: row-reverse;
}

.comedy-section img {
    align-content: center;
    height: 300px;
    width: auto;
}

/*Trying to keep colour change consistent across the pages */
.about-contact-wrapper {
    background-color: #E6E9F0;
}

.blog-section2 {
    display: flex;
    flex-direction: row-reverse;
    background-color: #C2DDE6;
}

.blog-section3 {
    display: flex;
    background-color: #E6E9F0;
}

/* Making dual column layouts responsive for mobile */
@media only screen and (max-width: 855px) {

    .blog-section,
    .blog-section2,
    .blog-section3 {
        display: block;
    }

    .rafting-section,
    .comedy-section {
        display: block;
    }
}

/* Had this button working until I got an error for having button class inside <a> tag, too tired to figure out */
.btn-1 {
    color: white;
    text-decoration: none;
}